<!-- Start Features -->
<section id="features">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title-area">
          <h2 class="title">Awesome <span>Features</span></h2>
          <p>Learn more about the most important features of the app.</p>
        </div>
      </div>
      <div class="col-md-12">
        <div class="features-area">
          <div class="row">
            <!-- Start features left -->
            <div class="col-md-4">
              <div class="features-left">
                <ul class="features-list features-list-left">
                  <li class="wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay="0.5s">
                    <i class="fa fa-desktop"></i>
                    <div class="features-content">
                      <h4>Visibility in Android and IOS</h4>
                      <p>Multiplataforma is present in the two main platforms, allowing early market entry.</p>
                    </div>
                  </li>
                  <li class="wow fadeInLeft" data-wow-duration="0.75s" data-wow-delay="0.75s">
                    <i class="fa fa-edit"></i>
                    <div class="features-content">
                      <h4>Customize your profile</h4>
                      <p>has the option to customize your personal information, to enhance your experience in the application.</p>
                    </div>
                  </li>
                  <li class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                    <i class="fa fa-camera"></i>
                    <div class="features-content">
                      <h4>Creative Design</h4>
                      <p>eye-catching interfaces, good interaction in the app and many other things you're going to like.</p>
                    </div>
                  </li>
                  <li class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                    <i class="fa fa-cloud"></i>
                    <div class="features-content">
                      <h4>Real-time data</h4>
                      <p>Share your best experiences with others</p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <!-- End features left -->
            <!-- Start features img -->
            <div class="col-md-4">
              <div class="feature-img wow fadeInUp">
                <img src="assets/images/splash2.png" alt="iPhone mockup">
              </div>
            </div>
            <!-- End features img -->
            <!-- Start features right -->
            <div class="col-md-4">
              <div class="features-right">
                <ul class="features-list features-list-right">
                  <li class="wow fadeInRight" data-wow-duration="0.5s" data-wow-delay="0.5s">
                    <i class="fa fa-paper-plane"></i>
                    <div class="features-content">
                      <h4>Open the way</h4>
                      <p>Inspires more people to travel and live unforgettable experiences</p>
                    </div>
                  </li>
                  <li class="wow fadeInRight" data-wow-duration="0.75s" data-wow-delay="0.75s">
                    <i class="fa fa-user-plus"></i>
                    <div class="features-content">
                      <h4>Meet people</h4>
                      <p>The world is full of good people. Give yourself the opportunity to meet them</p>
                    </div>
                  </li>
                  <li class="wow fadeInRight" data-wow-duration="1s" data-wow-delay="1s">
                    <i class="fa fa-bullhorn"></i>
                    <div class="features-content">
                      <h4>The world through your eyes</h4>
                      <p>Show the world how a true traveler makes it</p>
                    </div>
                  </li>
                  <li class="wow fadeInRight" data-wow-duration="1s" data-wow-delay="1s">
                    <i class="fa fa-suitcase"></i>
                    <div class="features-content">
                      <h4>Take us with you</h4>
                      <p>Download our app and take us always with you</p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <!-- End features right -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Features -->

<!-- Start how it works -->
<section id="howit-works">
  <div class="howit-works-area">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-area wow fadeInLeft">
            <h2 class="title">How it <span>Works</span></h2>
            <p>Share your travel preferences and choose who you plan your trip with!</p>
          </div>
        </div>
        <div class="col-md-12">
          <div class="howit-works-video">
            <iframe src="https://player.vimeo.com/video/46330255" width="428" height="276" frameborder="0"
              webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
<!-- End how it works -->

<!-- Start screenshot -->
<section id="screenshot">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title-area wow fadeInUp">
          <h2 class="title">App <span>Screenshots</span></h2>
        </div>
      </div>
      <div class="col-md-12">
        <div class="screenshots-area">
          <ul class="screenshots-slide">
            <li class="col-md-3 wow fadeInLeft">
              <a class="fancybox" data-fancybox-group="gallery" href="assets/images/Captura.PNG"><img src="assets/images/Captura.PNG"
                  alt="app screenshot" width="285 px" >
                <div class="view-btn-area">
                  <span class="fa fa-search view-btn"></span>
                </div>
              </a>
            </li>
            <li class="col-md-3 wow fadeInLeft">
              <a class="fancybox" data-fancybox-group="gallery" href="assets/images/Captura2.PNG"><img src="assets/images/Captura2.PNG"
                  alt="app screenshot" width="287 px">
                <div class="view-btn-area">
                  <span class="fa fa-search view-btn"></span>
                </div>
              </a>
            </li>
            <li class="col-md-3 wow fadeInLeft">
              <a class="fancybox" data-fancybox-group="gallery" href="assets/images/Captura5.jpeg"><img src="assets/images/Captura5.jpeg"
                  alt="app screenshot" width="275 px" height="510 px">
                <div class="view-btn-area">
                  <span class="fa fa-search view-btn"></span>
                </div>
              </a>
            </li>
            <li class="col-md-3 wow fadeInLeft">
              <a class="fancybox" data-fancybox-group="gallery" href="assets/images/Captura6.PNG"><img src="assets/images/Captura6.PNG"
                  alt="app screenshot" width="275 px" height="510 px">
                <div class="view-btn-area">
                  <span class="fa fa-search view-btn"></span>
                </div>
              </a>
            </li>
            <li class="col-md-3 wow fadeInLeft">
              <a class="fancybox" data-fancybox-group="gallery" href="assets/images/Captura3.jpeg"><img src="assets/images/Captura3.jpeg"
                  alt="app screenshot" width="275 px" height="510 px">
                <div class="view-btn-area">
                  <span class="fa fa-search view-btn"></span>
                </div>
              </a>
            </li>
            <li class="col-md-3 wow fadeInLeft">
              <a class="fancybox" data-fancybox-group="gallery" href="assets/images/Captura4.jpeg"><img src="assets/images/Captura4.jpeg"
                  alt="app screenshot" width="285 px" height="510 px">
                <div class="view-btn-area">
                  <span class="fa fa-search view-btn"></span>
                 </div>
               </a>
             </li>
           </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End screenshot -->

<!-- Start download app -->
<section id="download-app">
  <div class="download-overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-area wow fadeInUp">
            <h2 class="title">Download <span>App</span></h2>
            <p>Don't wait any longer, download from our different platforms.</p>
          </div>
        </div>
        <!-- Start download app content -->
        <div class="col-md-12">
          <div class="download-app-content">

            <!-- Start single download -->
            <a class="single-download wow fadeInLeft" data-wow-duration="0.75s" data-wow-delay="0.75s" href="#">
              <div class="download-icon">
                <i class="fa fa-play"></i>
              </div>
              <div class="download-content">
                <p>Coming soon available on the</p>
                <span>Play Store</span>
              </div>
            </a>
            <!-- Start single download -->
            <a class="single-download wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s" href="#">
              <div class="download-icon">
                <i class="fa fa-apple"></i>
              </div>
              <div class="download-content">
                <p>Coming soon available on the</p>
                <span>Apple Store</span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End download app -->

<!-- Start testimonial -->
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title-area wow fadeInLeft">
          <h2 class="title">Work <span>Team</span></h2>
          <p>We're people who like you are curious and in we love to go beyond what we see.
            That's why our work is focused on solving problems in a creative way.
          </p>
        </div>
      </div>
      <div class="col-md-12">
        <div class="story-carousel">
          <div class="story-carousel__slide story-carousel__slide--current">
            <div class="story-carousel-card-container">
              <div class="story-card">
                <div class="story-card__banner">
                  <img src="assets/images/developer2.jpeg" alt="Card 1 banner graphic" class="story-card-image" />
                </div>
                <div class="story-card__content">
                  <div class="card-content-primary">
                    <div class="card-content-primary__logo">
                      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTonkAHjSYNcDN5WpLi4VEQz4k_1oIhtI-KJOwlhPUTAVH0ZQIfhw"
                        alt="logo" class="story-card-logo" />
                    </div>
                    <h3 class="card-content-primary__passage title">DEVELOPER...</h3>
                  </div>
                  <div>
                    <a href="https://www.instagram.com/sossaerick/?hl=es-la" class="col-md-2" target="newtab"><i class="fa fa-instagram"></i></a>
                    <a href="https://twitter.com/ericksossa" class="col-md-2" target="newtab"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.facebook.com/sosaerick" class="col-md-2" target="newtab"><i class="fa fa-facebook-official"></i></a>
                    <a href="https://github.com/ericksossa" class="col-md-2" target="newtab"><i class="fa fa-github"></i></a>
                  </div>
                  <div class="card-content-secondary">
                    <p class="card-content-secondary__quote">Full-stack.</p>
                    <p class="card-content-secondary__author">Erick Sossa.</p>
                    <p class="card-content-secondary__position">Medellín-Colombia</p>
                  </div>
                </div>
              </div>
              <div class="story-card">
                <div class="story-card__banner">
                  <img src="assets/images/developer1.jpeg" alt="Card 1 banner graphic" class="story-card-image" />
                </div>
                <div class="story-card__content">
                  <div class="card-content-primary">
                    <div class="card-content-primary__logo">
                      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTonkAHjSYNcDN5WpLi4VEQz4k_1oIhtI-KJOwlhPUTAVH0ZQIfhw"
                        alt="logo" class="story-card-logo" />
                    </div>
                    <h3 class="card-content-primary__passage title">DEVELOPER...</h3>
                  </div>
                  
                  <div>
                    <a href="https://www.instagram.com/jonathanflorezhenao/?hl=es-la" class="col-md-2" target="newtab"><i class="fa fa-instagram"></i></a>
                    <a href="https://twitter.com/FlorezHena" class="col-md-2" target="newtab"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.facebook.com/jonathan.florezhenao.5" class="col-md-2" target="newtab"><i class="fa fa-facebook-official"></i></a>
                    <a href="https://github.com/jonathan0207" class="col-md-2" target="newtab"><i class="fa fa-github"></i></a>
                  </div>
                  <div class="card-content-secondary">
                    <p class="card-content-secondary__quote">Full-stack.</p>
                    <p class="card-content-secondary__author">Jonathan Florez.</p>
                    <p class="card-content-secondary__position">Medellín-Colombia
                  </div>
                </div>
              </div>
            </div>
          </div>
       
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End testimonial -->

<!-- Start subscribe -->
<section id="subscribe">
  <div class="download-overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-area wow fadeInUp">
            <h2 class="title">Subscribe Our <span>Newsletter</span></h2>
            <p>Subscribe to new corrections, functionalities, developments and services.</p>
          </div>
        </div>
        <!-- Start download app content -->
        <div class="col-md-12">
          <div class="subscribe-content wow fadeInLeft">
            <form action="" class="subcr-form">
              <i class="fa fa-envelope-o"></i>
              <input type="text" name="" id="" placeholder="Type your mail address..">
              <button type="submit" class="subcr-btn">Subscribe</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End download app -->

<!-- Start contact -->
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title-area">
          <h2 class="title">Get in <span>Touch</span></h2>
          <p>Do you have any questions? Let us know how we can help.</p>
        </div>
      </div>
      <div class="col-md-12">
        <div class="contact-area">
          <form action="" class="contact-form">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Your name">
            </div>
            <div class="form-group">
              <input type="email" class="form-control" placeholder="Email">
            </div>
            <div class="form-group">
              <textarea class="form-control" rows="3" placeholder="Your Message"></textarea>
            </div>
            <div class="send-area">
              <button type="submit" class="send-btn">Send Now</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End contact -->
