<!-- Start header section -->
<header id="header">
  <div class="header-inner">
    <!-- Header image -->
    <img src="assets/images/header-bg.jpg" alt="img">
    <div class="overlay">
      <div class="header-content">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="header-top">
                <!-- Start logo area -->
                <div class="logo-area">
                  <!-- Image based logo -->
                  <!-- <a class="logo" href="index.html"><img src="" alt="logo"></a> -->
                  <!-- Text based logo -->
                  <a class="logo" href="index.html">App Sena.</a>
                </div>
                <!-- End logo area -->
              </div>
            </div>
            <div class="col-md-12">
              <div class="header-bottom">
                <div class="row">
                  <div class="col-md-6 col-sm-6">
                    <div class="header-bottom-left">
                      <h1>the passion for travel brought us here.</h1>
                      <p>You know where, but you do not know how.
                        Live your adventure and let yourself be guided.</p>
                      <a class="download-btn" href="#">Download App</a>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-6">
                    <div class="header-bottom-right">
                      <!-- <img src="assets/images/iphone-group1.png" alt="iphone grpup img"> -->
                      <img src="assets/images/Nexus-6-MockUp-group.png" alt="iphone grpup img">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- End header section -->
